<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link media="all" rel="stylesheet" href="public/stylesheets/style.css">
    <!--angular-->
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <!--core-->
    <script type="text/javascript" src="app/main.js"></script>
    <!--services-->
    <script type="text/javascript" src="app/services/userDbStructureService.js"></script>
    <!--controllers-->
    <script type="text/javascript" src="app/controllers/parentController.js"></script>
 </head>
<body ng-app="mongo-app">
    <div class="main-content" ng-controller="parentController">
        <p><button type="button" ng-click="addCollection(dbStructure)">Добавить коллекцию</button></p>
        <form class="wrapper" ng-repeat="item in dbStructure.collections">
            <p>
                <label><span>Имя коллекции: </span><input type="text" ng-model="item.name"></label>
            </p>
            <hr>
            <p>
                <button type="button" ng-click="addField(item)">Добавить поле</button>
            </p>
            <fieldset ng-repeat="field in item.fields">
                <label><span>Поиск по полю </span><input type="checkbox" ng-model="field.searchable"></label>
                <label><span>Название поля: </span><input type="text" ng-model="field.name"></label>
                <label>
                    <span>Тип: </span>
                    <select ng-model="field.type">
                        <option ng-repeat="fieldType in fieldTypesSelect" value="{{fieldType.value}}">{{fieldType.name}}</option>
                    </select>
                </label>
                <button type="button" ng-click="removeField(item, field)">Удалить поле</button>
                <p>Диапазон значений (размер) поля<br>
                <p>
                <label>
                    <span>Предполагаемое: </span>
                    <input type="text" ng-model="field.expValue" ng-Change="calcRange(field)">
                </label>
                <label>
                    <span>Минимум: </span>
                    <input type="text" ng-model="field.minValue" disabled>
                </label>
                <label>
                    <span>Максимум: </span>
                    <input type="text" ng-model="field.maxValue" disabled >
                </label>
                </p>
            </fieldset>
        </form>
        <form class="wrapper">
            <h2>Отношения</h2>
            <button type="button" class="relations-button" ng-click="addRelation(collRelations)"
                ng-disabled="dbStructure.collections.length < 2">Добавить отношение</button>
            <table class="relations">
                <thead>
                <tr>
                    <th>Коллекция:</th>
                    <th>Поле коллекции:</th>
                    <th>Тип отношения:</th>
                    <th>Уникальное</th>
                    <th>Коллекция:</th>
                    <th>Поле коллекции:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="relation in collRelations">
                    <td>
                        <select ng-model="relation.collBegin" ng-change="loadFieldsBegin(dbStructure.collections, relation)">
                            <option ng-repeat="collectionBegin in dbStructure.collections" value="{{collectionBegin.name}}">
                                {{collectionBegin.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="relation.fieldBegin">
                            <option ng-repeat="field in relation.collBeginFields" value="{{field.name}}">
                                {{field.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="relation.relationType">
                            <option ng-repeat="relType in colRelationSelect" value="{{relType.value}}">
                                {{relType.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="relation.included">
                    </td>
                    <td>
                        <select ng-model="relation.collEnd" ng-change="loadFieldsEnd(dbStructure.collections, relation)">
                            <option ng-repeat="collectionEnd in dbStructure.collections" value="{{collectionEnd.name}}"
                                    ng-show="collectionEnd.name !== relation.collBegin">
                                {{collectionEnd.name}}
                            </option>
                        </select>

                    </td>
                    <td>
                        <select ng-model="relation.fieldTo">
                            <option ng-repeat="field in relation.collEndFields" value="{{field.name}}">
                                {{field.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <p>
            <button type="button" ng-click="sendData(dbStructure.collections, collRelations)">Отправить данные</button>
            <button type="button" ng-click="getBuild()">Построить базу</button>
            <button type="button" ng-click="startTest()">Начать тестирование</button>
        </p>
        <div class="stat-bar" ng-model="$scope.status">
            <table class="stat-table">
                <tbody>
                <tr>
                    <td><div ng-class="status.schema ? 'stat-on':'stat-off'"></div></td>
                    <td><div ng-class="status.base ? 'stat-on':'stat-off'"></div></td>
                    <td><div ng-class="status.tests ? 'stat-on':'stat-off'"></div></td>
                </tr>
                <tr>
                    <td>schema</td>
                    <td>base</td>
                    <td>tests</td>
                </tr>
                </tbody>
            </table>

    </div>
</body>
</html>