body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
fieldset {
  margin:1em 0;
  /*border:none;*/
}
.wrapper {
  padding:1em;
  margin-bottom:1em;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper h2 {
  /*display:inline-block;*/
  /*min-width: 50%;*/
  margin: 0 0.25em;
}
.subcollection {
  margin-left:50px;
  border: 1px solid #000000;
  background: rgb(231,231,231);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding:1em;
}
.stat-bar{
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #26c0ff;
  text-align: center;
  width: 100%;
}
.stat-table{
  display: inline-block;
  margin: 3px auto 0px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 15px;
  font-weight:500;
}
.stat-table td{
  border: 1px solid black;
  width: 55px;

}
.stat-off{
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}
.stat-on{
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #43ff00;
}
.relations, .relations th, .relations td {
  border:1px solid #000000;
  border-collapse:collapse;
}
.relations {
  width:100%;
}
.relations th, .relations td {
  width:16%;
  padding:0.5em 0.25em;
  text-align: center;
}
.relations-button {
  display: block;
  margin: 1em auto;
}
#container{
  position:relative;
  overflow:hidden;
  width:100%;
  height:auto;
  background:url('../images/grid.gif');
  cursor:default;
  overflow-x:scroll;
}
/*.float-button {*/
  /*position: fixed;*/
  /*right:20px;*/
  /*display:inline-block;*/
  /*width:100px;*/
  /*height:100px;*/
  /*top:200px;*/
/*}*/